/data/*.desktop
/data/*.valid
/data/*.xml
/data/appdata/*.xml
/po/POTFILES
/po/*.mo
/po/*.gmo
/po/.*
/src/xings-night-light-daemon
/src/xings-night-light-preferences
/src/.*
/src/*.o
/aclocal.m4
/autom4te.cache
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
Changelog
NEWS
README
*stamp*
Makecache
*Makefile.in
*Makefile.in.in
*Makefile
*.tar.*
*~